<launch>
  <arg name="rviz" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="map_file" default="$(find raicom_safe_city)/maps/safe_city_map.yaml"/>
  <arg name="initial_x" default="1.38"/>
  <arg name="initial_y" default="0.0"/>
  <arg name="initial_a" default="1.5708"/>
  <arg name="run_centerline_follower" default="true"/>
  <arg name="run_multi_goal_patrol" default="false"/>
  <arg name="run_waypoint_driver" default="false"/>
  <arg name="run_camera_recognition" default="true"/>
  <arg name="run_camera_detector" default="false"/>
  <arg name="run_proximity_recognition" default="false"/>
  <arg name="use_gpu" default="true"/>
  <arg name="auto_start" default="true"/>
  <arg name="goal_timeout" default="70.0"/>

  <include file="$(find raicom_safe_city)/launch/navigation.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="initial_x" value="$(arg initial_x)"/>
    <arg name="initial_y" value="$(arg initial_y)"/>
    <arg name="initial_a" value="$(arg initial_a)"/>
    <arg name="run_proximity_recognition" value="$(arg run_proximity_recognition)"/>
  </include>

  <node if="$(arg run_multi_goal_patrol)" name="multi_goal_patrol" pkg="raicom_safe_city"
        type="multi_goal_patrol.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="goal_timeout" value="$(arg goal_timeout)"/>
  </node>

  <node if="$(arg run_centerline_follower)" name="centerline_follower" pkg="raicom_safe_city"
        type="centerline_follower.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="path_step" value="0.035"/>
    <param name="lookahead" value="0.30"/>
    <param name="base_speed" value="0.220"/>
    <param name="corner_speed" value="0.130"/>
    <param name="max_angular" value="1.80"/>
    <param name="heading_gain" value="2.85"/>
    <param name="cross_track_gain" value="0.55"/>
    <param name="max_cross_track_for_full_slowdown" value="0.13"/>
    <param name="finish_tolerance" value="0.16"/>
    <param name="verbose" value="false"/>
  </node>

  <node if="$(arg run_waypoint_driver)" name="waypoint_driver" pkg="raicom_safe_city"
        type="waypoint_driver.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="goal_tolerance" value="0.12"/>
    <param name="goal_timeout" value="90.0"/>
    <param name="max_linear" value="0.16"/>
    <param name="max_angular" value="0.75"/>
  </node>

  <node if="$(arg run_camera_recognition)" name="camera_model_recognition" pkg="raicom_safe_city"
        type="camera_model_recognition_node.py" output="screen">
    <env name="LD_LIBRARY_PATH" value="/home/zcy/.local/lib/python3.8/site-packages/nvidia/curand/lib:/home/zcy/.local/lib/python3.8/site-packages/nvidia/cufft/lib:/home/zcy/.local/lib/python3.8/site-packages/nvidia/nvjitlink/lib:$(optenv LD_LIBRARY_PATH)"/>
    <param name="image_topic" value="/camera/rgb/image_raw"/>
    <param name="model_root" value="/home/zcy/raicom_ws/2025源码"/>
    <param name="process_hz" value="3.0"/>
    <param name="stable_frames" value="1"/>
    <param name="reset_after_missed_frames" value="6"/>
    <param name="report_cooldown" value="8.0"/>
    <param name="garbage_min_area_ratio" value="0.10"/>
    <param name="human_min_area_ratio" value="0.07"/>
    <param name="building_min_area_ratio" value="0.10"/>
    <param name="use_fire_color_hint" value="true"/>
    <param name="enable_ocr" value="false"/>
    <param name="use_gpu" value="$(arg use_gpu)"/>
  </node>

  <node if="$(arg run_camera_detector)" name="camera_color_detector" pkg="raicom_safe_city"
        type="camera_color_detector.py" output="screen">
    <param name="image_topic" value="/camera/rgb/image_raw"/>
    <param name="min_area" value="180"/>
  </node>
</launch>
