<launch>
  <arg name="rviz" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="map_file" default="$(find raicom_safe_city)/maps/safe_city_map.yaml"/>
  <arg name="initial_x" default="1.38"/>
  <arg name="initial_y" default="0.0"/>
  <arg name="initial_a" default="1.5708"/>
  <arg name="run_centerline_follower" default="true"/>
  <arg name="run_multi_goal_patrol" default="false"/>
  <arg name="run_waypoint_driver" default="false"/>
  <arg name="run_camera_detector" default="false"/>
  <arg name="auto_start" default="true"/>
  <arg name="goal_timeout" default="70.0"/>

  <include file="$(find raicom_safe_city)/launch/navigation.launch">
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="rviz" value="$(arg rviz)"/>
    <arg name="map_file" value="$(arg map_file)"/>
    <arg name="initial_x" value="$(arg initial_x)"/>
    <arg name="initial_y" value="$(arg initial_y)"/>
    <arg name="initial_a" value="$(arg initial_a)"/>
  </include>

  <node if="$(arg run_multi_goal_patrol)" name="multi_goal_patrol" pkg="raicom_safe_city"
        type="multi_goal_patrol.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="goal_timeout" value="$(arg goal_timeout)"/>
  </node>

  <node if="$(arg run_centerline_follower)" name="centerline_follower" pkg="raicom_safe_city"
        type="centerline_follower.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="path_step" value="0.035"/>
    <param name="lookahead" value="0.34"/>
    <param name="base_speed" value="0.155"/>
    <param name="corner_speed" value="0.090"/>
    <param name="max_angular" value="1.35"/>
    <param name="heading_gain" value="2.40"/>
    <param name="cross_track_gain" value="0.32"/>
    <param name="finish_tolerance" value="0.16"/>
    <param name="verbose" value="false"/>
  </node>

  <node if="$(arg run_waypoint_driver)" name="waypoint_driver" pkg="raicom_safe_city"
        type="waypoint_driver.py" output="screen">
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="goal_tolerance" value="0.12"/>
    <param name="goal_timeout" value="90.0"/>
    <param name="max_linear" value="0.16"/>
    <param name="max_angular" value="0.75"/>
  </node>

  <node if="$(arg run_camera_detector)" name="camera_color_detector" pkg="raicom_safe_city"
        type="camera_color_detector.py" output="screen">
    <param name="image_topic" value="/camera/rgb/image_raw"/>
    <param name="min_area" value="180"/>
  </node>
</launch>
